/* ul {
  columns: 3;
  text-align: center;
} */

/* li{
  list-style: none;
  color: black;
  text-align: center;
  border: 5px double black;
  margin-bottom: 10px;
  width: 300px;
  height: 500px;
  background-color: gray;
  align-items: center;


} */

.apptext{
  color: #336666;
  font-weight: bolder;
}

li {
  display:inline-block ;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  
}